{%extends "index.html"%}
{% block slider%}
{{slide|safe}}
{% endblock%}

{% block menu%}
<div id="cssmenu">
  <ul>
    {{menu|safe}}
  </ul>
</div>
{% endblock%}

{% block content%}

</script>

<div style="margin: 10px;">
  <table style="width: 100%">
    <form id="formulario" action='/compras/evento/' method='post'>
      <tr style="background:#ccf">
	<td>
	  Producto / servicio
	</td>
	<td>
	  Cantidad
	</td>
	<td>
	  Costo unitario
	</td>
	<td>
	  Costo Total
	</td>
	<td>
	  Eliminar
	</td>
      </tr>
      {% for r in content%}
      <tr style="background:#fff">
	<td>
	  {% if r.producto%}
	  {{r.producto|safe}}
	  {% endif%}
	  {% if r.servicio %}
	  {{r.servicio|safe}}
	  {% endif%}
	</td>
	<td>
	  <input id=id_codigo{{r.id}} type="number" value={{r.cantidad}} step="any" name=codigo{{r.id}}>
	</td>
	<td>
	  {% if r.producto%}
	  {{r.producto.costo|safe}}
	  {% endif%}
	  {% if r.servicio%}
	  {{r.servicio.costo|safe}}
	  {% endif%}
	</td>
	<td>
	  {{r.total}}
	</td>
	<td>
	  <a href=?eliminar={{r.id}}><img src="/static/img/eliminar.png" border="0"></a>
	</td>
      </tr>
      {% endfor%}
      <td>
	<input type='submit' id="submit" value='Actualizar' name="actualizar"/>
	<input type='submit' id="submit" value='Cotizar' name="cotizar"/>
	<input type='submit' id="submit" value='Eliminar' name="eliminar"/>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
	total = {{total}}
      </td>
      </form>
    </table>
</div>
{% endblock%}

{% block foother%}
<table style="width:100%; background:#204609">
  
  <tr>
    <td valign="top" style="width:33%; text-align:left; color: #A6C43E;"><strong>Contáctenos:</strong><br>{{foother.direccion}}<br>{{foother.telefono}}<br><a href=mailto:{{foother.correo}}>{{foother.correo}}</a>    </td>
    <td style="width:33%; text-align:left">{{foother.mapa|safe}}    </td>
    <td valign="top" style="width:33%; text-align:center">
    {% for r in red%}
    <a href={{r.url}}><img src=/static/{{r.imagen|safe}}></a>    
    {% endfor%}
    </td>
  </tr>

</table>
{% endblock%}
