{% extends "index.html"%}
{% block slider%}
{{slide|safe}}
{% endblock%}

{% block menu%}
<div id="cssmenu">
  <ul>
    {{menu|safe}}
  </ul>
</div>
{% endblock%}

{% block content%}

<p><h3>{{content.tema}}</h3></p>
<div id="izquierda">
  <ul style="list-style: inside none disc;">
  {% for f in izquierda %}
  <li>
    <a href=?id={{f.id}}>{{f.tema}}</a>
  </li>
  {% endfor %}
  </ul>
</div>
<div id="derecha">
  {% if content %}
  <p style="text-align: justify; margin:20px">{{content.ccomentario}}</p>
  {% endif %}
  {% if contents %}
  {% for n in contents %}
  <div style="background:url(/static/img/fondo.png);">
    <p style="text-align: justify; margin:20px"><a href=?id={{n.id}}><h3>{{n.tema}}</h3></a></p>
    <p style="text-align: justify; margin:20px">{{n.coment_small}}</p><br>
  </div>
  {% endfor %}
  {% endif %}
</div>


{{mensaje|safe}}


  {% for c in comentario%}
  <table style="margin-left:30px;width:75%; border: 1px solid #ccc; background: url('/static/img/fondo.png');">
    <tr><td >
	{{c.tema}}
    </td></tr>
    <tr><td style="font-size-adjust: 0.4;">
	registrado por: {{c.cusuario}} en: {{c.fecha}}
    </td></tr>
    <tr><td style="text-align:justify">
	{{c.descripcion}}
    </td></tr>
  </table><br>
  {% endfor%}

{% endblock%}


{% block foother%}
<table style="width:100%; background:#204609">
  
  <tr>
    <td valign="top" style="width:33%; text-align:left; color: #A6C43E;"><strong>Contáctenos:</strong><br>{{foother.direccion}}<br>{{foother.telefono}}<br><a href=mailto:{{foother.correo}}>{{foother.correo}}</a>    </td>
    <td style="width:33%; text-align:left">{{foother.mapa|safe}}    </td>
    <td valign="top" style="width:33%; text-align:center">
    {% for r in red%}
    <a href={{r.url}}><img src=/static/{{r.imagen|safe}}></a>    
    {% endfor%}
    </td>
  </tr>

</table>
{% endblock%}
