{% extends "index.html"%}
{% block slider%}
{{slide|safe}}
{% endblock%}

{% block menu%}
<div id="cssmenu">
  <ul>
    {{menu|safe}}
  </ul>
</div>
{% endblock%}

{% block content%}
<table style="width:100%; margin: -5px">
  <tr>
    {% for i in content%}
    <td valign="top" style="width:33%; text-align:left; background:url(/static/img/fondo.png) repeat scroll 0 0 rgba(0, 0, 0, 0)"><p style="margin:3px; font-size-adjust: 0.8;"><a href=/noticias?id={{i.id}}>{{i.tema}}</a></p>
      <p style="text-align: justify; margin:10px">{{i.coment_small}}</p>
    </td>
    {% endfor %}
  </tr>
</table>
{% endblock%}
{% block title%}
<p style="font-size-adjust: 1.1;">
  {{title|safe}}
<p/>
{% endblock%}

{% block imgmenu%}
<h3>PRODUCTOS Y SERVICIOS</3>
<p><table style="width:100%">
  <tr>
    {% for i in img%}
    <td style="width:33%; text-align:center; text-transform: uppercase;">
      {{i.nombre}}
    <a href=/{{i.nombre}}><img src=/static/{{i.imagen}}  height="300" width="300"></a>
    </td>
    {% endfor %}
  </tr>
</table></p>
{% endblock%}
{% block foother%}
<table style="width:100%; background:#204609">
  
  <tr>
    <td valign="top" style="width:33%; text-align:left; color: #A6C43E;"><strong>Contáctenos:</strong><br>{{foother.direccion}}<br>{{foother.telefono}}<br><a href=mailto:{{foother.correo}}>{{foother.correo}}</a>    </td>
    <td style="width:33%; text-align:left">{{foother.mapa|safe}}    </td>
    <td valign="top" style="width:33%; text-align:center">
    {% for r in red%}
    <a href={{r.url}}><img src=/static/{{r.imagen|safe}}></a>    
    {% endfor%}
    </td>
  </tr>

</table>
{% endblock%}
