<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Vivero "EL MOLINO"</title>
    <link rel="stylesheet" href="static/js/responsiveslides.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/responsiveslides.min.js"></script>
    <script src="/static/js/slide.js"></script>
    <link rel="stylesheet" href="/static/css/styles_menu.css">
    
    <script src="/static/js/script.js"></script>


  </head>
  <body>
    <div id="all">
      <div id="header">
      </div>
      {% block menu%}{% endblock%}
      <!-- Slideshow 1 -->
      <div>
	{% block slider%}{% endblock%}
      </div>
      <div id="content">
	{% block title%}{% endblock%}
	{% block content%}{% endblock%}
	{% block categoria%}{% endblock%}
	{% block producto%}{% endblock%}
      </div>
      <div>
	{% block imgmenu%}{% endblock%}
      </div>
      <div>
      	{% block foother%}{% endblock%}
    </div>
    </div>
    
  </body>
</html>
