{% extends "index.html"%}
{% block slider%}
{{slide|safe}}
{% endblock%}

{% block menu%}
<div id="cssmenu">
  <ul>
    {{menu|safe}}
  </ul>
</div>
{% endblock%}

{% block content%}

</script>

<div style="margin: 10px;">
  <table style="width: 100%">
    <form id="formulario" action='/usuario/' method='post'>
      {{content}}
      {{content1}}
      <td>
	</td>
      <td>
	<input type='submit' id="submit" value='Registrar'/>
      </td>
    </form>
    
    </table>
</div>
{% endblock%}

{% block foother%}
<table style="width:100%; background:#204609">
  
  <tr>
    <td valign="top" style="width:33%; text-align:left; color: #A6C43E;"><strong>Contáctenos:</strong><br>{{foother.direccion}}<br>{{foother.telefono}}<br><a href=mailto:{{foother.correo}}>{{foother.correo}}</a>    </td>
    <td style="width:33%; text-align:left">{{foother.mapa|safe}}    </td>
    <td valign="top" style="width:33%; text-align:center">
    {% for r in red%}
    <a href={{r.url}}><img src=/static/{{r.imagen|safe}}></a>    
    {% endfor%}
    </td>
  </tr>

</table>
{% endblock%}
