
#all {
    height: 100%;
    margin: 0 auto;
    width: 1024px;
    background: #64a33a;
}

#header {
    background: url("/static/img/header.png") no-repeat;
    height: 181px;
}

ul{
    list-style:none;
    margin-left: -40px;
}


#izquierda {
    float: right;
    margin: 0;
    padding: 0;
    width: 20%;
    margin: 0 20px;
    background: url("/static/img/fondo.png");
}

#derecha{
	width: 70%;

}

#content{
	width: 100%;
	height: 100%;
	margin: 5px;
	/*text-shadow: 0 -2px 1px #000000;

}
